body{
    background-image: url('skull.jpg');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.body-cont{
    background-color: rgba(0,0, 0, 0.5);
    height: 300px;
    width: 1600;
    margin: 140px 10px 0px 0px;
}
.first-name {
    display: flex;
    justify-content :center ;
    margin: 10px;
    padding: 20px;
}
.last-name{
    display: flex;
    justify-content: center;
    margin: 40px;

}
i{
    margin: 70px 10px 0px 0px;
    font-size: 50px;
}
span{
    margin: 10px;
}
